.edit-passage, .edit-mcq, .edit-free-response {
	border-bottom: 1px solid var(--dark-gray);
	padding-bottom: 20px;
	position: relative;
	margin-bottom: 20px;
}

.modify {
    position: absolute;
    top: 0px;
    right: 0px;
}

.remove {
	margin-left: 10px;
}

.button-bar {
	padding-top: 10px;
}

input[type="text"] {
	width: 66%;
}

.edit-mcq input[type="text"] {
	width: 33%;
}

#title-input {
	font-size: 200%;
}
