.edit-passage, .edit-mcq {
	border: 2px solid black;
	border-radius: 25px;
	padding-left: 20px;
	padding-bottom: 20px;
	position: relative;
	margin: 10px;
}

.modify {
    position: absolute;
    top: 0px;
    right: 0px;
	padding-right: 20px;
	padding-top: 10px;
}

.button-bar {
	padding-top: 10px;
}

input {
	width: 66%;
}

.edit-mcq input {
	width: 33%;
}

#title-input {
	font-size: 200%;
}
