@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif');

:root {
	--sans-fonts: "Noto Sans", sans-serif;
	--serif-fonts: "Noto Serif", serif;
	
	--lightest-gray: #fcfcfc;
	--light-gray: #eee;
	--gray: #666;
	--dark-gray: #333;
	
	--light-accent: #d6fffc;
	--dark-accent: #1c968d;
	
	--light-correct: #b7f7d1;
	--dark-correct: #0f8e43;
	
	--light-wrong: #f9cac5;
	--dark-wrong: #9b2417;
}

body {
	margin-left: 10%;
	margin-right: 10%;
	font-family: var(--serif-fonts);
	background-color: var(--lightest-gray);
	color: var(--dark-gray);
}

@media(min-width: 800px) {
	body {
		margin-left: 20%;
		margin-right: 20%;
	}
}

input, button, select, #file-label {
	font-family: var(--sans-fonts);
	display: inline-block;
	margin-bottom: 5px;
}

input[type="text"] {
	padding: 5px;
	border: solid 1px var(--gray);
	border-radius: 5px;
}

/* https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/ */
input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

button, #file-label {
	border: solid 1px var(--dark-gray);
	color: var(--dark-gray);
	border-radius: 5px;
	background-color: var(--light-gray);
	padding: 10px;
	font-size: 0.8em;
	box-shadow: none;
	font-weight: normal;
	cursor: pointer;
}

.icon-button {
	border: none;
	font-weight: bold;
	box-shadow: 1px 1px var(--gray);
	padding: 0px;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	text-align: center;
	vertical-align: center;
}
