@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif');

:root {
	--sans-fonts: "Noto Sans", sans-serif;
	--serif-fonts: "Noto Serif", serif;
	
	--lightest-gray: #fafafa;
	--gray: #666;
	--dark-gray: #333;
	
	--light-accent: #d6fffc;
	--dark-accent: #1c968d;
}

body {
	margin-left: 20%;
	margin-right: 20%;
	font-family: var(--serif-fonts);
	background-color: var(--lightest-gray);
	color: var(--dark-gray);
}

input, button, select {
	font-family: var(--sans-fonts);
}

input[type="text"] {
	padding: 5px;
	border: solid 1px var(--gray);
	border-radius: 5px;
}

button {
	border: solid 1px var(--dark-accent);
	color: var(--dark-accent);
	border-radius: 5px;
	background-color: var(--light-accent);
	padding: 10px;
}