<!doctype html>
<html>
	<head>
		<title>Ilka</title>
		<meta charset="utf/8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="view.css">
		<script src="https://unpkg.com/vue@next" defer></script>
		<script src="creds.js" defer></script>
		<script src="aws.js" defer></script>
		<script src="polly.js" defer></script>
		<script src="ilka.js" defer></script>
		<script src="view.js" defer></script>
	</head>
	<body>
		<div id="app">
			<input type="file" multiple="false" id="file" onChange="load()">
			<label id="file-label" for="file">Load</label>
			<a id="link" href="edit.html"><button>Edit</button></a>
			<h1>{{ story.title }}</h1>
			<div v-for="item in visibleItems">
				<view-passage v-if="item.type == 'passage'" v-bind:speaker="item.speaker" v-bind:text="item.text" v-bind:translation="item.translation" v-bind:ipa="item.ipa"></view-passage>
				<view-mcq v-if="item.type == 'mcq'" v-bind:question="item.question" v-bind:translation="item.translation" v-bind:answers="item.answers" v-bind:answer-translations="item.answerTranslations" v-bind:index-of-correct="item.indexOfCorrect"></view-mcq>
				<view-free-response v-if="item.type == 'free-response'" v-bind:question="item.question" v-bind:translation="item.translation" v-bind:suggested="item.suggested" v-bind:suggested-translation="item.suggestedTranslation"></view-free-response>
			</div>
			<p v-if="storyUploaded">
				<button class="icon-button" v-on:click="decProgress()" v-bind:disabled="progress == 0">&uarr;</button>
				<button class="icon-button" v-on:click="incProgress()" v-bind:disabled="progress == story.items.length">&darr;</button>
			</p>
		</div>
		<audio id="audio"></audio>
	</body>
</html>
