.passage, .mcq {
	margin-top: 50px;
	margin-bottom: 50px;
}

.passage {
	font-family: var(--serif-fonts);
}

.passage-speaker {
	text-transform: uppercase;
	font-weight: bold;
	color: var(--gray);
	font-family: var(--sans-fonts);
}

.mcq {
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
}

.question {
	text-align: center;
}

.mcq-answer {
	display: flex;
}

.mcq-answer :last-child {
	margin-left: auto;
	margin-right: 0px;
}

.mcq-feedback-correct {
	background-color: var(--light-correct);
	color: var(--dark-correct);
}

.mcq-feedback-wrong {
	background-color: var(--light-wrong);
	color: var(--dark-wrong);
}

.view-free-response {
	width: 100%;
}

.free-response-suggested-gui {
	display: flex;
	align-items: flex-start;
	width: 100%;
}

.free-response-suggested {
	box-shadow: 0px 1px 2px -2px var(--light-gray);
	border-radius: 5px;
	padding: 10px;
	margin-left: 10px;
	background-color: white;
	flex-grow: 1;
}

.free-response-suggested-hidden * {
	visibility: hidden;
}

textarea {
	display: block;
	font-family: inherit;
	width: 100%;
	box-sizing: border-box;
	height: 150px;
	margin-bottom: 10px;
	border: none;
	box-shadow: 0px 1px 2px -2px var(--light-gray);
	font-size: inherit;
	border-radius: 5px;
	padding: 10px;
}

.translation {
	color: var(--dark-accent);
	background-color: var(--light-accent);
	box-shadow: 0px 3px 2px -2px var(--gray);
	border-radius: 5px;
}

p.translation {
	padding: 10px;
}