.passage, .mcq {
	margin-top: 50px;
	margin-bottom: 50px;
}

.passage {
	font-family: var(--serif-fonts);
}

.passage-speaker {
	text-transform: uppercase;
	font-weight: bold;
	color: var(--gray);
	font-family: var(--sans-fonts);
}

.mcq {
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
}

.mcq-question {
	text-align: center;
}

.mcq-answer {
	display: flex;
}

.mcq-answer :last-child {
	margin-left: auto;
	margin-right: 0px;
}

.mcq-feedback-correct {
	background-color: var(--light-correct);
	color: var(--dark-correct);
}

.mcq-feedback-wrong {
	background-color: var(--light-wrong);
	color: var(--dark-wrong);
}

.translation {
	color: var(--dark-accent);
	background-color: var(--light-accent);
	border: solid 1px var(--dark-accent);
	border-radius: 5px;
}

p.translation {
	padding: 10px;
}

span.translation {
	padding: 5px;
}